:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Formular", sans-serif;

  --color-light: #f0f0f0;
  --color-white: #FFFFFF;
  --temno-seryy: #1F2933;
  --svetlo-seryy: #B1BAC7;
  --purpurno-krasnyy: #D83555;
}